# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
msal
requests
azure-storage-queue
pdfplumber
bcrypt==4.0.1
passlib
python-multipart
xmltodict
pandas
PyPDF2
pymupdf
pycryptodome
bs4